

body{margin:0;}

h1 {font-size:45px;
text-align: center;
border-bottom:1px solid gray;
margin:0px;
padding:20px}
ul{border-right:1px solid gray;
width:100px;
padding: 20px;
margin:0;}
#grid{
display:grid;
grid-template-columns:  150px 1fr
}
ul{padding-left: 27px}
@media(max-width:680px){ #grid{
display:block;}
ul{border-right:none;}

h1 {font-size:45px;
text-align: center;
border-bottom:none;}}
